/*Limpiando propiedades default de lista ancho de 176px con un 
espaciado(gap) en filas de 32px y 16 px en columnas, se configur칩
solo una sola fila con grid-template-rows*/
.lista-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
    grid-template-rows: 1fr;
    gap: 3em 1em;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; /* Controla el ancho m치ximo de la lista */
}

/*Alineando icono y texto al final con flex y con un padding
de 16px, elemento li con altura de 174px.
Aplicando border shadow*/
.lista-grid__item {
    background-color: #FFFFFF;
    box-shadow: 9px 9px 9px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    height: 10.875em;
    justify-content: flex-end;
    padding: 1em;
}

/*Tablets y celulares grandes u horizontales*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .lista-grid {
        /*Tama침o de items de minmax de 224px, con 3 columnas*/
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
        grid-template-columns: 1fr 1fr 1fr;
    }

    .lista-grid__item {
        height: 7.375rem;
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .lista-grid {
        /*Tama침o de items de minmax de 156px, con 2 columnas*/
        grid-template-columns: repeat(auto-fit, minmax(9.75em, 1fr));
        grid-template-columns: 1fr 1fr;
    }

    .lista-grid__item {
        height: 7.375rem;
    }
}